<h1>Change Password</h1>

<%= form_tag change_password_path do %>

  <div>
    <%= label_tag :password, "Current Password" %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= label_tag :new_password, "New Password" %>
    <%= password_field_tag :new_password %>
  </div>

  <div>
    <%= label_tag :password_confirmation, "Confirm Password" %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div>
    <%= submit_tag "Submit" %>
  </div>

<% end %>
