<div class="row">
  <div class="col-md-7 col-sm-7 posts-header">
    <h1 id="post-heading">All Posts</h1>
  </div>

  <div class="col-md-5 col-sm-5 search-bar">
    <%= form_tag(posts_path) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "form-control empty", id:"search"%>
      <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<div id="blog-posts">

  <% if @found_posts.present? %>

    <h4>[ Found Posts ]</h4>
    <% @found_posts.each do |post| %>
      <div class="row">

        <div class="col-md-4">
          <h4><%= link_to post.title, post_path(post) %></h4>
          by <%= post.author %><br><br>
          <%= post.created_at.localtime %>
        </div>

        <div class="col-md-8">
            <%= post.body_snippet %>
        </div>
      </div>

      <hr>
    <% end %>

  <% elsif @found_posts == nil %>

    <% @posts.each do |post| %>
      <div class="row">

        <div class="col-md-4">
          <h4><%= link_to post.title, post_path(post) %></h4>
          by <%= post.author %><br><br>
          <%= post.created_at.localtime %>
        </div>

        <div class="col-md-8">
            <%= post.body_snippet %>
        </div>
      </div>

      <hr>
    <% end %>

    <div class="text-center">
      <%= paginate @posts %><br>
      <%= page_entries_info @posts %>
    </div>

  <% else %>

    <p>There are no posts containing the term: <%= params[:search] %></p>

  <% end %>
</div>
